.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.itemsContainer {
    margin-top: 20px;
    width: 500px;
    border-radius: 4px;
    cursor: pointer;
}

.closeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black;
}

.closeContainer svg {
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
}

.itemContainer {
    margin: 20px 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.done {
    background-color: rgb(101, 230, 101);
}

.notDone {
    background-color: rgb(239, 78, 78);
}

.svgContainer {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.closed {
    display: none;
}

.svgContainer svg {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.itemContainer p {
    font-size: 1.3em;
}

.popupContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
    flex-direction: column;
    background-color: white;
    width: 650px;
    height: 175px;
    border-radius: 8px;
}

.wrapper p {
    text-align: center;
    font-size: 1.5em;
}

.close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.close svg {
    font-size: 20px;
    cursor: pointer;
}

.change {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.change span {
    padding-left: 10px;
}

.change svg {
    font-size: 23px;
}

.change div {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.change div:nth-child(1):hover {
    background-color: lightgreen;
}

.change div:nth-child(2):hover {
    background-color: lightcoral;
}

.change div:nth-child(3):hover {
    background-color: lightgray;
}

@media screen and (max-width: 650px) {
    .wrapper {
        width: 500px;
    }
}

@media screen and (max-width:550px) {
    .itemsContainer {
        width: 350px;
    }

    .wrapper {
        width: 350px;
        flex-direction: column;
    }

    .change svg {
        font-size: 16px;
    }
}