.mainContainer {
    display: flex;
    align-items: center;
}

html,
body,
.image {
    height: 100%;
    min-height: 100% !important;
}

.image {
    display: flex;
    height: 645px;
    width: 50%;
}

.image img {
    width: 100%;
}

.formContainer {
    padding: 4em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.formContainer h1 {
    font-size: 3em;
    padding-bottom: 20px;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer div {
    display: flex;
    flex-direction: column;
}

.formContainer label {
    font-size: 1.3em;
    color: gray;
}

.formContainer input {
    outline: none;
    border: none;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    width: 600px;
    font-size: 1em;
}

.formContainer input::placeholder {
    font-weight: bolder;
    color: black;
}

.formContainer textarea {
    outline: none;
    border: none;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    width: 600px;
    font-size: 1em;
    resize: none;
}

.formContainer textarea::placeholder {
    font-weight: bolder;
    color: black;
}

.formContainer textarea::-webkit-scrollbar {
    display: none;
}

.formContainer button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
    }

    .image {
        width: 100%;
    }
}

@media screen and (max-width:900px) {

    .image {
        width: 100%;
        height: 350px;
    }

    .formContainer {
        padding: 2em 0;
    }
}

@media screen and (max-width:650px) {
    .formContainer input {
        width: 350px;
    }

    .formContainer textarea {
        width: 350px;
    }
}