.mainContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2%;
}

.mainContainer h1 {
    font-size: 2.5em;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* width: 1000px; */
    margin-top: 30px;
}

.chategories {
    margin-right: 2em;
    /* width: 30%; */
    width: 300px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px black;
}

.Target {
    background-color: black;
    color: white;
}

.chatInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chatInfo svg {
    font-size: 3em;
}

.chatInfo span {
    padding-left: 10px;
}

.chatChat div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px 0px;
    cursor: pointer;
}

.data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* width: 70%; */
    width: 600px;
    padding: 20px 10px;
    margin-right: 2em;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px black;
}

.data h1 {
    font-size: 1.5em;
}

.data form {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.data div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.data label {
    font-size: 1.3em;
    color: gray;
}

.data input {
    outline: none;
    border: none;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    font-size: 1em;
    width: 250px;
}

.data input::placeholder {
    font-weight: bolder;
    color: black;
}

.data button {
    width: 150px;
    height: 45px;
    margin-top: 20px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .infoContainer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .mainContainer {
        padding-bottom: 50px;
    }

    .mainContainer h1 {
        padding-top: 20px;
    }

    .chategories {
        margin: 0;
    }

    .data {
        margin: 0;
    }
}

@media screen and (max-width:650px) {
    .data {
        flex-direction: column;
        width: 300px;
    }

    .data form {
        grid-template-columns: repeat(1, auto);
    }
}