.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 30px;
}

.mainContainer input {
    width: 600px;
    height: 50px;
    border-radius: 32px;
    padding-left: 20px;
    font-size: 1.3em;
}