.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3em;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading span {
    position: absolute;
}

.heading h1 {
    padding: 1.2em;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
}

.heading a {
    color: black;
}

.heading svg {
    font-size: 3em;
    cursor: pointer;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menuItems {
    margin: 0px 30px;
    box-shadow: 5px 5px 15px #ccc;
    border-radius: 8px;
    width: 250px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menuItems:hover {
    transform: scale(1.05);
}

.menuItems img {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 150px;
}

.menuItems h1 {
    padding: 10px 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    text-align: center;
    font-weight: bolder;
}

.menuItems p {
    padding: 10px 20px;
    margin-bottom: 15px;
}

.menuItems a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .menuContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .links {
        padding-right: 50px;
    }
}

@media screen and (max-width: 700px) {
    .menuContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}