.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5em;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.description {
    width: 60%;
    padding: 0em 2em;
}

.description h1 {
    font-size: 3em;
    padding-bottom: 15px;
}

.description p {
    font-size: 1.3em;
    padding: 20px 0px;
}

.price {
    font-size: 1.3em;
    border: 1px solid black;
    width: 500px;
}

.price button {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    cursor: pointer;
}

.price div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.price select {
    width: 100px;
    height: 30px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .mainContainer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 2em;
    }

    .image {
        width: 100%;
    }

    .description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .price {
        width: 350px;
    }
}