.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.mainContainer h1 {
    font-size: 2.5em;
    color: blue;
    padding-bottom: 30px;
}

.mainContainer div {
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer p {
    color: red;
    font-weight: bolder;
}