.mainContainer {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    z-index: 4;
}

.logo {
    z-index: 999;
}

.logo img {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu li {
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.menu a:hover {
    text-decoration: underline;
}

.menuItem {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 0.5s ease;
        padding-bottom: 10px;
        padding-right: 15px;
    }

    .navbarActive {
        background-color: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .menuItem {
        height: 40px;
        width: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 3px;
        border-radius: 50%;
        cursor: pointer;
    }

    .menu {
        font-size: 18px;
        flex-direction: column;
        gap: 50px;
    }

    .menuBars {
        width: 1.4em;
        height: 0.25em;
        background-color: white;
        border-radius: 0.5em;
        float: right;
        z-index: 999;
    }

    .menuBars:nth-child(2) {
        width: 1em;
    }

    .clicked:nth-child(1) {
        transform: rotate(45deg) translate(0em, 0em);
        transition: ease-out 0.5s;
    }

    .clicked:nth-child(2) {
        transform: rotate(-45deg) translate(0.3rem, -0.35rem);
        transition: ease-out 0.5s;
        width: 1.4em;
    }

    .unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.275, 0.885, 0.32, 1) 0.5s;
    }
}