.image {
    padding-bottom: 20px;
    height: 350px;
}

.image img {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15%;
}

.text h1 {
    font-size: 4em;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.text p {
    font-size: 1.1em;
    line-height: 25px;
}

@media screen and (max-width: 1200px) {
    .text {
        padding: 5% 15%;
    }
}

@media screen and (max-width: 700px) {
    .text {
        padding: 5% 10%;
    }
}