.mainContainer {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    z-index: 4;
}

.logo img {
    width: 50px;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu {
    list-style: none;
}

.icons {
    display: none;
    font-size: 1.5em;
    padding-top: 5px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.menu a:hover {
    text-decoration: underline;
}

.toggleActive {
    display: none;
}

@media screen and (max-width: 700px) {
    .icons {
        display: block;
    }

    .titles {
        display: none;
    }
}