.boardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0 15px;
}

.boardRow {
    display: flex;
    gap: 2px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 90%;
    background-color: lightblue;
    margin: 20px;
    border-radius: 8px;
    font-size: 1.3em;
}